
body 
{
margin: 0;
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
background-color: #bfbfbf;
}

.container
{
max-width: 1000px;
width: 100%;
margin: 0 auto;
}

.header-content
{
display: flex;
justify-content: space-between;
align-items: center;
}

nav
{
display: flex;
gap: 20px;
}

nav a
{
color:rgb(255, 255, 255);
text-decoration: none;
font-size: 1rem;
padding: 5px;
transition: background-color 0.3s;
}

nav a:hover
{
background-color:#000000;
}

nav a.active
{
background-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
}
