.content
{
display:flex;
flex-direction: column;
gap: 18px;
}

.container h1
{
margin-bottom: 10px;
color: white;
}

form
{
display: flex;
flex-direction: column;
gap: 15px;
}

label
{
margin-top: 10px;
text-align: left;
font-weight: bold;
color: white;
}

input, textarea
{
width: 100%;
padding: 12px;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 14px;
}

button
{
margin-top: 20px;
padding: 12px;
background-color: #224eae;
color: white;
border: none;
border-radius: 15px;
font-size: 16px;
}

button:hover
{
background-color: #1f5ae0;
}