
body 
{
min-height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
background: linear-gradient(to bottom, #670183, #1a008e);
display: flex;
flex-direction: column;
align-items: center;
}

.content
{
display:flex;
flex-direction: column;
gap: 18px;
}

.container
{
background: rgb(33, 0, 77);
max-width: 1000px;
width: 90%;
padding: 40px;
border-radius: 25px;
box-shadow: 0 10px 30px rgba(0,0,0,0.2);
margin: 0 auto;
text-align: center;
}

.container h1
{
margin-bottom: 10px;
color: white;
}

.header-content
{
display: flex;
justify-content: space-between;
align-items: center;
}

nav
{
display: flex;
gap: 20px;
}

nav a
{
color:rgb(255, 255, 255);
text-decoration: none;
font-size: 1rem;
padding: 5px;
transition: background-color 0.3s;
}

nav a:hover
{
background-color: rgb(0,44,97);
}

nav a.active
{
background-color: rgb(0, 44, 97);
color:rgb(255, 255, 255);
}

form
{
display: flex;
flex-direction: column;
gap: 15px;
}

label
{
margin-top: 10px;
text-align: left;
font-weight: bold;
color: white;
}

input, textarea
{
width: 100%;
padding: 12px;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 14px;
}

button
{
margin-top: 20px;
padding: 12px;
background-color: #224eae;
color: white;
border: none;
border-radius: 15px;
font-size: 16px;
}

button:hover
{
background-color: #1f5ae0;
}