
.content
{
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

main a
{
color: #00bcd4;
}
.ul
{
list-style-position: inside;
text-align: center;
padding-left: 0;
list-style-type: disc;
}

.container-li
{
margin-bottom: 10px;
line-height: 1.5;
}

footer
{
color: white;
}

footer a
{
color: #00bcd4;
}