.content
{
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.95rem;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:last-child {
    border-bottom: none;
}

tr:hover {
    background-color: #110033;
}



